*{
    font-family: 'Oswald', sans-serif;
}

body{
    margin: 20px;
}

.icono-principal{
    color: crimson;
    font-size: 30px;
}

.contenedor-tarjeta{
    margin: 20px;
    padding: 5px;
}




